name: CI/CD for gamehub-automated-app

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/gamehub-app:latest

  deploy:
    needs: build
    runs-on: self-hosted # Deploys on local machine with Minikube

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Start Minikube
        run: |
          minikube status || minikube start --driver=docker
          minikube status
      - name: Pull Docker Image from Docker Hub
        run: docker pull ${{ secrets.DOCKER_USERNAME }}/gamehub-app:latest
        
      - name: Enable Ingress Controller
        run: |
          minikube addons enable ingress
          kubectl wait --namespace ingress-nginx \
            --for=condition=ready pod \
            --selector=app.kubernetes.io/component=controller \
            --timeout=180s


      - name: Deploy to Minikube using k8s.yml
        run: |
          kubectl apply -f k8s/k8s.yml
          kubectl get pods
      - name: wait-job
        run: sleep 120s
        shell: bash

      - name: Expose gamehub-app Service
        run: |
          minikube service list
      - name: Get Minikube Service URL
        run: |
          minikube service gamehub-app-service --url
